@charset "utf-8";
/* Reset */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html,body{width:100%;height:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,legend,button{margin:0;padding:0;color:#222;font-family:'NanumSquare','Nanum Gothic',sans-serif;font-size:13px;line-height:1.25em;-webkit-font-smoothing:antialiased;}
body {-webkit-text-size-adjust:none;}
ul,ol,li{list-style:none;}
em{font-style:normal}
input,select,button{vertical-align:middle}
img{vertical-align:top}
img,fieldset,iframe{border:0 none}
a{text-decoration:none; color:#666; cursor:pointer;}
li,p,dt,dd,div,span,td,th{word-break:break-all;}
.ib{display:inline-block;}
input , select {word-break:normal}
button {-webkit-border-radius:0; background:none; cursor:pointer; background:#fff; border:none;}
button::-moz-focus-inner {padding:0; border:0;} /* 파이어폭스 버튼 내부 여백 제거 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display:none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0;}
textarea {border:1px solid #999; padding:9px 8px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-border-radius:0; -webkit-appearance:none; resize:none;}
input::-ms-clear{display:none}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
caption {overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
.safari caption {display:none;}/* 사파리 rowspan버그 */
strong{font-weight:800;}
/* 스크롤 */
.scroll {scrollbar-3dlight-color:#fff;scrollbar-darkshadow-color:#fff;scrollbar-highlight-color:#ccc;scrollbar-shadow-color:#ccc;scrollbar-face-color:#fff;scrollbar-arrow-color:#ccc;scrollbar-track-color:#fff;}

/* 스킵네비 */
#skipNav {position:absolute; top:0;left:0; right:0; z-index:999; height:0;}
#skipNav a {display:block;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:0 -1px 0 -1px;text-align:center;white-space:nowrap;font-weight:bold;color:#000;}
#skipNav a:focus, #skipNav a:hover, #skipNav a:active {z-index:1000;width:100%;height:auto;padding:4px 0;color:#fff;background:#666;}

/* 접근성 */
.ir{position:absolute !important;left:-99999px;top:-99999px;overflow:hidden;text-indent:-9999px;font-size:1px;line-height:1px;color:#fff;}

/* 폼요소 */
/* placeholder 컬러지정 */
::-webkit-input-placeholder {}
::-moz-placeholder {} /* firefox 19+ */
:-ms-input-placeholder {} /* ie */
input:-moz-placeholder {}

fieldset{border:0 none}
legend{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0}

.container {padding:0 15px;}
.header {padding:20px;border-bottom:1px solid #ccc}
.header h1 {font-size:30px; font-weight:800; letter-spacing:-1px; text-align:center;}
.todo-list {overflow:hidden;height:calc(100vh - 260px );margin:20px 0;box-sizing: border-box;border-radius:10px;background:#eee;}
.todo-list ul {overflow:hidden;overflow-y:auto;height:100%;}
.box-todo-input {display:flex;margin-top:20px;height:40px;}
.box-todo-input input[type="text"].full {display:block;width:100%;height:40px;padding:0 10px;box-sizing:border-box;font-size:14px;}
.box-todo-input button {margin-left:5px;padding:0 5px;background:#000; color:#fff; font-size:20px;white-space:nowrap;}
.footer {position:absolute;bottom:0;left:0;right:0;height:80px;border-top:1px solid #ccc;padding-top:14px;text-align:center;box-sizing:border-box;}
.footer address {margin-top:10px;}
.footer .btn-delete-all {height:25px;padding:0 20px;background:#000;color:#fff;color:14px;}